body {
  color: lightgray;
  background-color: black;
}

.tasks {
  width: calc(min(100vw, 700px) - 40px);
  margin: 0 auto;
}

.task {
  background-color: rgb(50, 50, 50);
  border-radius: 30px;
  padding: 15px;
  margin: 20px;
  overflow: hidden;
}

.task-name {
  font-size: 20px;
  font: bold;
}

.task-dates {
  color: grey;
}

span.task-date:empty {
  padding-right: 92.08px;
  display: inline-block;
  background: lime;
}

.task-status::before {
  content: "・ ";
}

a {
  color: steelblue;
  word-wrap: break-word;
}

blockquote {
  position: relative;
  border-left: 3px solid lightcoral;
}
blockquote:before {
  position: absolute;
  content: "“";
  font-size: 50px;
  color: lightcoral;
}
blockquote p {
  position: relative;
  padding-left: 30px;
}

pre {
  white-space: pre-wrap;
}

#scroll_to_bottom {
  position: fixed;
  background-color: grey;
  right: 0;
  bottom: 0;
}

#scroll_to_bottom::after {
  content: "Go to bottom";
}
